.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  border-radius: 8px; /* Bo góc */
  margin-top: 170px;
  justify-content: center;
  align-items: center;
}

.headerLogin {
  display: flex;
  flex-direction: column; /* Đặt chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  height: 80px;
}

.text {
  color: black; /* Màu chữ */
  font-size: 50px; /* Kích thước chữ */
  font-weight: 700; /* Đậm chữ */
  text-align: center; /* Căn giữa văn bản */
}

.underline {
  width: 100px;
  height: 6px;
  background: black;
  border-radius: 9px;
}

.inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 360px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid rgb(206, 208, 212);
}

.input img {
  margin: 0px 20px;
}

.input input {
  height: 40px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 19px;
}
.forgot-password {
  color: #797979;
  font-size: 18px;
}
.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-weight: bold;
  width: 100%;
}
.create-account {
  color: #797979;
  font-size: 18px;
}
.create-account span {
  color: #4c00b4;
  cursor: pointer;
}
.forgot-account span {
  color: #4c00b4;
  cursor: pointer;
}
.submit-container {
  display: flex;
  gap: 30px;
  margin: 20px auto;
  justify-content: center;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 59px;
  color: #fff;
  background-color: #4c00b4;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}

.underline2 {
  width: 100%;
  height: 1px;
  background: rgb(167, 165, 165);
  border-radius: 9px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 59px;
  border: 1px solid rgb(206, 208, 212);
  color: #4c00b4;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.dieukhoan {
  color: black;
  text-align: center;
  padding-top: 15px;
}
